/* @group Dropdown */

.dropdown_trigger { position: relative; }

.dropdown_trigger .dropdown_content { position: absolute; z-index: 10000; top: 31px; right: -18px; width: 150px; background: #d5d5d5 image-url('node_background.png') 0px -38px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; padding-top: 5px; margin-top: 0px; display: none; }

.dropdown_trigger ul.dropdown_content li { float: none; border-bottom: 1px solid #bcbcbc; border-top: 1px solid #d8d8d8; margin: 0px; text-align: right; padding: 6px; padding-right: 10px; }

.dropdown_trigger ul.dropdown_content li:first-child { border-top: none; padding-top: 3px; }

.dropdown_trigger ul.dropdown_content li:last-child { border-bottom: none; padding-bottom: 7px; }

.dropdown_trigger ul.dropdown_content li a { color: #626262 !important; font-size: 11px !important; margin: 0px; padding: 0px; }

.dropdown_trigger ul.dropdown_content li a img { position: relative; top: 5px; }

.dropdown_trigger:hover .dropdown_content { display: block; }

/* @end */

/* @group Results */

#results table div.actions { position: relative; padding-left: 5px; }

#results table div.actions img.quality_status { position: absolute; left: -16px; top: 1px; }

#results table td.checkbox { width: 20px; }

#results table td.status { width: 25px; }

table.ds_konsolidacna th.id { width: 20px; }

#results.loading { background: image-url('ajax_preloader_hq.gif') center center no-repeat; }

/* @end */

/* @group Information */

#information { padding-top: 15px; }

#information table td.label img.quality_status { position: relative; top: 3px; margin-left: -6px; }

#information table td.edit img.quality_status { position: relative; top: 10px; left: 5px; }

#information table td.edit .field { position: relative; }

#information table td.edit .field input[type=text]:focus { outline: none; border-color: #bbb; }

#information table td.edit .field .suggestion { position: absolute; background: image-url('tooltip.png'); width: 214px; padding: 5px; color: #fff; top: 31px; display: none; }

#information table td.edit .field .suggestion img.cancel { position: relative; top: 4px; right: 2px; }

#information .description { padding-top: 20px; padding-left: 10px; }

/* @end */

/* @group Pagination */

.pagination.ajax { padding: 5px; padding-top: 10px; color: #6e7376; }

.pagination.ajax strong { color: #56626a; }

/* @end */

/* @group Actions */

#actions { background: #edeeef; padding: 15px; }

#actions form { background: transparent; margin: 0px; padding: 0px; }

/* @end */

/* @group Other */

p.excerpt { color: #444; font-size: 11px; }

.filters { padding-left: 5px; }

/* @end */

/* @end */

/* @group Batch Edit */



/* @end */
