#searchbox-adv-wrap
  = form_tag searches_path do
    .selector
      %label Dataset
      =select_tag 'search[dataset]',
                    options_from_collection_for_select(DatasetDescription.where(is_active: true),
                                                      :identifier,
                                                      :title,
                                                      @dataset_description.try(:identifier)),
                    class: 'string js_advanced_search_dataset',
                    prompt: t('search.any_dataset')


    %label Filter
    #search-table{data: {'refresh-url' => predicate_rows_searches_path}}
      - predicates ||= []
      - predicates.each do |predicate|
        %ul.body.search_row= render :partial => "searches/predicate_row", :locals => {:predicate => predicate}

      - if predicates.size == 0
        %ul.body.search_row= render :partial => "searches/predicate_row"

    .buttons-wrap
      %input.add_row.button-add-filter{type: 'button', value: t('search.add_filter')}

    .buttons-wrap
      .search_button_container= submit_tag t('search.search_action'), id: 'search_now', class: 'search-button'
