%ul#navigation-breadcrumb
  %li.first= link_to t('global.home'), root_path
  %li= link_to t('users.my_account'), url_for


.legacy
  - if current_user.api_key
    #api
      %h1=t('.api')
      =current_user.api_key.key

  #profile
    = render :partial => "profile"

  #password
    = render :partial => "password"

